map_server:
  ros__parameters:
    #yaml_filename: "/hcai_nav2_bringup/maps/empty.yaml" Set with launch params

# Controller Server
controller_server:
  ros__parameters:
    use_sim_time: true
    controller_frequency: 20.0
    costmap_update_timeout: 1.
    min_x_velocity_threshold: 0.001
    min_y_velocity_threshold: 0.001
    min_theta_velocity_threshold: 0.001
    controller_plugins: ["FollowPath"]
    odom_topic: "/odom"
    FollowPath:
      plugin: "nav2_regulated_pure_pursuit_controller::RegulatedPurePursuitController"
      max_linear_vel: 0.4
      lookahead_dist: 0.8
      min_lookahead_dist: 0.3
      max_lookahead_dist: 1.5
      rotate_to_heading_angular_vel: 1.8
      use_velocity_scaled_lookahead_dist: true
      enable_obstacle_checking: true
      use_interpolation: true
      transform_tolerance: 0.2
      costmap_queue_size: 3
      costmap_window_size: 3

# Local Costmap
local_costmap:
  local_costmap:
    ros__parameters:
      #filters: ['']
      update_frequency: 10.0
      publish_frequency: 5.0
      global_frame: odom
      use_sim_time: true
      rolling_window: true
      width: 10
      height: 10
      resolution: 0.05
      footprint: "[ [0.21, 0.195], [0.21, -0.195], [-0.21, -0.195], [-0.21, 0.195] ]"
      # plugins: ["static_layer"]
      plugins: ["static_layer", "inflation_layer"]
      # static_layer:
      #   plugin: "nav2_costmap_2d::StaticLayer"
      #   map_subscribe_transient_local: true
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_topic: "map"
        first_map_only: true
        subscribe_to_updates: false
        map_subscribe_transient_local: true # ensures latched map delivery
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.55
      always_send_full_costmap: true

# collision_monitor:
#   ros__parameters:
#     enabled: true
#     base_frame_id: "base_link"
#     odom_frame_id: "odom"
#     cmd_vel_in_topic: "cmd_vel_smoothed"
#     cmd_vel_out_topic: "cmd_vel"
#     state_topic: "collision_monitor_state"
#     transform_tolerance: 0.2
#     source_timeout: 1.0
#     base_shift_correction: true
#     stop_pub_timeout: 2.0
#     # Polygons represent zone around the robot for "stop", "slowdown" and "limit" action types,
#     # and robot footprint for "approach" action type.
#     polygons: ["FootprintApproach"]
#     FootprintApproach:
#       type: "polygon"
#       action_type: "approach"
#       footprint_topic: "local_costmap/published_footprint"
#       time_before_collision: 1.2
#       simulation_time_step: 0.1
#       min_points: 6
#       visualize: false
#       enabled: true
#     observation_sources: ["scan"]
#     scan:
#       type: "scan"
#       topic: "scan"
#       min_height: 0.15
#       max_height: 2.0
#       enabled: true

velocity_smoother:
  ros__parameters:
    smoothing_frequency: 20.0
    scale_velocities: false
    feedback: "OPEN_LOOP"
    max_velocity: [0.5, 0.0, 2.0]
    min_velocity: [-0.5, 0.0, -2.0]
    max_accel: [2.5, 0.0, 3.2]
    max_decel: [-2.5, 0.0, -3.2]
    odom_topic: "/odom"
    odom_duration: 0.1
    enable_stamped_cmd_vel: true
    deadband_velocity: [0.0, 0.0, 0.0]
    velocity_timeout: 1.0
    stamp_smoothed_velocity_with_smoothing_time: false
